.image-gallery-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.image-display-area {
    flex: 1;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
    touch-action: none;
    overscroll-behavior: contain;
}

.main-image {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    touch-action: none;
}

.thumbnail-strip {
    height: 100px;
    display: flex;
    overflow-x: scroll;
    gap: 8px;
}

.thumbnail-wrapper {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    border: var(--size-2-1) solid transparent;
    border-radius: var(--radius-s);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}

.thumbnail-wrapper:hover {
    border-color: var(--interactive-accent-hover);
}

.thumbnail-wrapper.active {
    border-color: var(--interactive-accent);
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}